.models_grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	gap: 20px;
	margin: 40px 0;

	@media (max-width: 1200px) {
		grid-template-columns: repeat(3, minmax(200px, 1fr));
	}

	@media (max-width: 992px) {
		grid-template-columns: repeat(2, minmax(260px, 1fr));
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(1, minmax(260px, 1fr));
	}
}