.base {
	color: $text-color;
	background-color: $bg-color;
	font-size: 18px;
	line-height: 1.6;

	p {
		margin-bottom: 20px;
		color: $text-color;

		a {
			color: $accent-color;
			text-decoration: none;
			transition: 0.2s;

			&:hover {
				text-decoration: underline;
				color: $text-color;
			}
		}

		strong {
			color: $text-color;
			font-weight: 700;
		}

		em {
			color: $text-color;
			font-style: italic;
		}
	}

	ul,
	ol {
		margin: 0 0 24px 28px;
		padding: 0;
		color: $text-color;
		list-style: square;

		li {
			margin-bottom: 10px;
			list-style: square;
		}
	}

	ul {
		list-style: disc;

		ul {
			list-style: circle;
			margin-top: 10px;
		}
	}

	ol {
		list-style: decimal;
	}

	blockquote {
		border-left: 4px solid $accent-color;
		padding-left: 20px;
		margin: 30px 0;
		font-style: italic;

		color: $text-color;
		background: $muted_color;
		border-radius: 4px;

		p {
			margin-bottom: 0;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 20px 0;
		color: $text-color;

		th,
		td {
			padding: 14px 16px;
			border: 1px solid $muted_color;
			font-size: 16px;
		}

		th {
			font-weight: 600;
			background: $muted_color;
		}

		tr:nth-child(even) {
			background: $muted_color;
		}
	}

	.wp-block-image {
		img {
			max-height: 400px;
			object-fit: cover;
			width: auto;
			margin-block: 16px;
		}
	}

	@media (max-width: 768px) {
		font-size: 16px;
	}
}
