h1 {
	font-size: 52px;
	font-weight: 700;
}

h2 {
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

p {
	font-size: 18px;
}

.title_offset {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	h1 { font-size: 36px; }
	h2 { font-size: 28px; }
	h3 { font-size: 24px; }
	h4 { font-size: 22px; }
	h5 { font-size: 20px; }
	h6 { font-size: 18px; }

	p { font-size: 16px; }
}
