.error404 {
	.error404__wrapper {
		background-color: $bg-color;
		color: $text-color;
		padding: 60px 0;
	}
	.error404__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.error404__content p {
		margin-top: 40px;
	}

	.error404__buttons-wrapper {
		margin-top: 60px;
	}
}